* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4fafd;
  font-family: 'Inter', sans-serif;
}

#header {
  align-items: center;
  background-color: #edeafe;
  color: #666666;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#header p,
#header a {
  margin: 0 10px;
}

#header a:link,
#header a:visited {
  color: #666666;
}

#nav-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding: 15px 15px;
}

.nav-links a:link,
.nav-links a:visited {
  color: #666666;
  text-decoration: none;
}

.highlight-product {
  align-items: center;
  background: linear-gradient(#9fcbf4, #ead8fc);
  color: #ffffff;
  display: flex;
  padding: 0 0 0 20px;
}

.highlight-content {
  flex: 1;
  max-width: 50%;
}

.highlight-subtitle {
  font-size: 20px;
  font-weight: 100;
  padding-left: 125px;
  text-transform: uppercase;
}

.highlight-wording {
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.highlight-title {
  font-size: 93.26px;
  line-height: 100px;
  padding: 20px 125px;
}

.highlight-title span {
  display: block;
}

.highlight-title,
.highlight-subtitle {
  font-family: 'EB Garamond', serif;
}

.highlight-description {
  color: #737373;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-left: 125px;
}

.front-image {
  flex: 1;
  max-height: 100vh;
  max-width: 50%;
  object-fit: cover;
}

.concept-heading {
  color: #6e95b8;
  font-family: 'EB Garamond', serif;
  font-size: 36px;
  font-weight: 200;
  padding: 50px 150px;
}

.concept-description,
.concept-dummy {
  color: #666666;
  font-family: "Noto Sans JP", sans-serif;
}

.concept-description {
  font-size: 24px;
  font-weight: 500;
}

.concept-dummy {
  font-size: 16px;
  font-weight: 300;
}

.view-more-link {
  color: #6e95b8;
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 50px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(0 0 0.75rem 0 #cecece);
}